.homeloanimg {
    background: url('../homeloan/images/homeloan/landing.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 550px;
    float: left;
    position: relative;
    z-index: 1;
}

.container {
    position: relative;
}

.homeloanimg:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.6);
    z-index: -1;
}
.col-lg-4 h1, .col-lg-4 p{
    color: #fff;
}
.container-row{
    width: 100%;
    display: flex;
    flex-wrap: initial;
    margin-top: 10rem;
}

.form-group{
    display: flex;
}

.homeloanimg .compareBtnBox .form-group .eligibilityBtn a {
    padding: 0 20px 0 20px;
    border-radius: 50px;
    width: 160px;
    margin-left: -1rem;
    position: relative;
    font-size: 16px;
    height: 48px;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: .3s;
    background: #fc3c7f;
}

.form-group em{
    color: #000000;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.form-control{
    border: none;
}

.form-control1{
    border: 1px solid grey;
}

.form-control input{
    width: 250px;
    padding: 10px;
    margin-top: -0.3rem;
    border: none;
}
.compareBtnBox{
    background-color: #ffffff;
    border-radius: 30px;
    width: 360px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1rem;
}

.no-pad-lr{
    margin-top: 35rem;
}
.no-pad-lr ul li{
    list-style-type: circle !important;
    margin-left: 1rem;
    color: #000;
}

.no-pad-lr ul li::marker{
    font-size: 20px !important;
    color: #f52e5d;
    font-weight: bold;
}

.no-pad-lr p{
    color: #000;
}

.no-pad-lr a{
    text-decoration: underline !important;
    cursor: pointer;
}

.right-listings {
    float: right !important;
    position: sticky !important;
    top: 10px;
    margin-top: -75rem;
    left: 0px;
}

.noned{
    display: none;
}
.cards{
    width: 90%;
    margin: auto;
}

.cards_item{
    width: 500px;
    height: 210px;
}

.card-not-bootstrap{
    padding-top: 0.5rem;
}

.cards_item img{
    padding-left: 1rem;
}

@media screen and (max-width: 600px){
    .noned{
        display: block !important;
    }
    .right-listings{
        display: none !important;
    }
    .form-control input{
        width: 120px;
    }
    .compareBtnBox{
        width: 220px;
    }
    .tilesWrap li {
        min-width: 250px;
    }
   
    .card_image img {
        padding: 0px;
        margin-left: 10px;
        width: 150px;
        margin-top: 20px;
    }
    .btn.v3 {
        background: #fff;
        padding: 9px 10px;
        border-radius: 3px;
        border: 1px solid transparent;
        color: #f52e5d !important;
        transition: 0.3s;
        display: inline-block;
        font-size: 15px;
        font-weight: 400;
    }
    .submit_btn button.btn.v3 {
        padding: 10px 10px;
        line-height: 1.2;
        border-radius: 3px;
    }
    .hero__form.v1.filter.listing-filter .col-sm-12.col-12.py-3 {
        padding-bottom: 1px !important;
        padding-top: 0 !important;
    }
    .hero__form.v1 {
        background: transparent !important;
         border-radius: 10px;
         padding: 2px 15px;
         max-width: 1100px;
         margin: auto;
     }
}

/* Check Your eligibility */
.container-main {
	display: flex;
	align-items: center;
	justify-content: center;
    min-height: 100vh;
    margin: auto;
    width: 90%;
    margin-top: 4rem;
}

.screen {		
    /* background:#f52e5d  url(./images/homeloan/doodle-bg.png) no-repeat center top; */
	position: relative;	
    width: 80%;
    height: 1650px;	
    margin: auto;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.0px );
    -webkit-backdrop-filter: blur( 13.0px );
    border-radius: 10px;
    outline: none !important;
}

.screen h2{
    color: #000;
    padding: 20px;
    z-index: 1;
    position: relative;
    text-align: center;
}

.screen__content {
	z-index: 1;
	position: relative;	
    height: 100%;
    margin-top: -8rem;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

/* .screen__background__shape {
	transform: rotate(45deg);
    position: absolute;
    z-index: 0;
}

.screen__background__shape1 {
	height: 220px;
	width: 550px;
	background: #F75279;	
	top: -100px;
	right: 150px;	
	border-radius: 0 72px 72px 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #F75279;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #F75279, #F75279);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #F75279;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
} */

.login {
    width: 80%;
    margin: auto;
	padding: 40px;
	padding-top: 140px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #f52e5d;
}

.login__input {
	border: none;
	border-bottom: 2px solid #f52e5d;
    background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 400;
	width: 100%;
    transition: .2s;
    color: #000;
}

.login__input::placeholder{
    color: #000;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #f52e5d;
}

.login__submit {
	background: #fff;
	font-size: 15px;
	margin-top: 30px;
	padding: 10px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 600;
	display: flex;
	align-items: center;
	width: 100px;
	color: #f52e5d;
	box-shadow: 0px 2px 2px #f52e5d;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #f52e5d;
	outline: none;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #f52e5d;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}

input[type="radio"]{
    width: 18px;
    height: 18px;
}

.four-btn{
    margin-top: 13rem;
}

.four-btn button{
    padding: 6px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 170px;
    cursor: pointer;
}

.four-btn button::after{
    content: ">";
    margin-left: 10px;
    font-size: 18px;
    color: #f52e5d;
}

.show{
    display: none;
}

.emi{
    display: none;
}

.back{
    background-color: #ffffff;
    border-radius: 30px;
    border: 1px solid #f52e5d;
    margin-right: 1rem;
    cursor: pointer;
}

.back img{
    margin-left: -1rem;
}

.under-div{
    display: none;
}

.home-loan-partner{
    margin-top: 4rem;
}

.home-loan-partner-list-item {
    width: 90%;
    margin: auto;
    height: auto;
    margin-bottom: 12px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(48,48,48,.4);
    border-radius: 4px;
    background-clip: padding-box;
}

.home-loan-partner-anchor{
    width: 100%;
    height: auto;
    padding: 15px 24px;
    display: inline-flex;
    justify-content: space-evenly;
    text-decoration: none;
}

.home-loan-partner-brand>img {
    width: auto;
    height: auto;
    max-height: 32px;
    max-width: 92px;
    -o-object-fit: cover;
    object-fit: cover;
}

.home-loan-partner-name {
    color: #303030;
    font-size: 18px;
    font-weight: 600;
    padding-left: 18px;
    display: inline-block;
    vertical-align: middle;
}

.home-loan-partner-roi {
    color: #606060;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    padding-left: 16px;
}

.home-loan-partner-tenure {
    color: #606060;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    padding-left: 16px;
}

.home-loan-partner-list .home-loan-action {
    display: inline-block;
    vertical-align: middle;
}

.home-loan-action-btn {
    font-size: 16px;
    color: #ffffff;
    background-color: #f52e5d;
    border: 1px solid #fbe9e9;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1rem;
        line-height: 2.7;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.home-loan-section {
    width: 100%;
    height: auto;
    padding: 60px 0;
}

.home-loan-prop-final-content {
    width: calc(100% - 349px);
    padding-left: 124px;
}

.home-loan-prop-final {
    width: 85%;
    height: auto;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-loan-prop-final-graphic {
    width: 350px;
    height: 400px;
    background: url('../homeloan/images/homeloan/select.svg') no-repeat 50%/100%;
}

.home-loan-section-title-text1{
    font-size: 25px;
    font-weight: 600;
    color: #000;
    padding-bottom: 2rem;
}

.home-loan-prop-final-benefits-list-item span {
    color: #f52e5d;
}

.home-loan-about{
    display: flex;
    width: 95%;
    margin: auto;
}

.home-loan-about-right{
    width: 100%;
}

.home-loan-about-left-graphic{
    width: 350px;
    height: 400px;
    margin: auto;
    background: url('../homeloan/images/homeloan/faqs.svg') no-repeat 50%/100%;
}

.home-loan-get-help {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    background: url('../homeloan/images/homeloan/contact.svg') no-repeat 0 100%/600px auto;
}

.home-loan-get-help>.home-loan-container {
    width: 1200px;
    height: auto;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.home-loan-get-help-content-inner {
    width: 100%;
    height: auto;
    padding: 0 130px;
}

.home-loan-get-help-title {
    width: 100%;
    height: auto;
    padding-bottom: 24px;
}

.home-loan-get-help-title-text1 {
    color: #f52e5d;
    font-size: 24px;
    font-weight: 600;
}

.home-loan-get-help-title-text3 {
    color: #606060;
    font-size: 14px;
    font-weight: 400;
    padding-top: 4px;
}

.home-loan-get-help-support {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.home-loan-get-help-support-column {
    flex: 1 0;
    display: flex;
    justify-content: flex-start;
    margin-right: 1rem;
    align-items: center;
}

.home-loan-get-help-support-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 50%;
    background-clip: padding-box;
    margin-right: 2rem;
}

.home-loan-get-help-form-fixed-input {
    width: 100%;
    height: 44px;
    padding: 12px;
    color: #303030;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.home-loan-get-help-support-content-title {
    color: #303030;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.home-loan-get-help-or {
    width: 120px;
    text-align: center;
    margin: 32px auto;
    position: relative;
}

.home-loan-get-help-form-fixed {
    width: 100%;
    height: auto;
}

.home-loan-get-help-form-fixed-fieldset {
    width: 100%;
    height: auto;
    padding-bottom: 22px;
}

.svg-ico>svg {
    height: 1em;
    font-size: inherit;
    vertical-align: middle;
    color: inherit;
    fill: currentColor;
}

.widget-white {
    background: #fff;
    padding: 15px 10px;
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
    border: solid 1px #ededed;
    background: #fff;
    margin-bottom: 20px;
}

@media (max-width: 600px){
    .screen {
        width: 100%;
    }
    .login{
        width: 100%;
    }
    .home-loan-partner-anchor{
        display: flex;
        flex-direction: column;
    }
    .home-loan-prop-final {
        display: flex;
        flex-direction: column;
    }
    .home-loan-prop-final-content {
        width:100%;
        padding: 0px;
    }
    .home-loan-prop-final-graphic {
        width: 250px;
        height: 300px;
        margin: auto;
    }
    .home-loan-about-left-graphic{
        width: 250px;
        height: 200px;
        margin: auto;
    }
    .home-loan-about{
        display: flex;
        flex-direction: column;
    }    
    .home-loan-get-help>.home-loan-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .home-loan-get-help{
        background: none;
    }
    .home-loan-get-help-content{
        width: 100%;
    }
    .home-loan-get-help-content-inner {
        width: 80%;
        margin: auto;
        height: auto;
        padding: 0px;
    }
    .home-loan-get-help-support {
        width: 100%;
        height: auto;
        display: inline;
        flex-direction: column;
    }
    .home-loan-get-help-support-column{
        margin-bottom: 1rem;
    }
    .home-loan-action-btn {
        font-size: 14px;
        padding-bottom: 40px;
        height: 30px;
        align-items: center;
    }
    .home-loan-partner-list .home-loan-action {
        margin-left: 170px;
    }
    .home-loan-partner-name, .home-loan-partner-roi{
        font-size: 15px;
    }
    .btn{
        margin-top: -170px;
    }
    .center{
        margin-left: 90px;
    }
    .timeline-body li, .timeline-body p{
        display: none;
    }
    .row-container{
        display: flex;
        flex-direction: column !important;
    }
    .centered{
        margin-top: 17rem;
    }
    .four-btn{
        margin-top: 5rem;
        display: inline-grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 2px;
        padding: 2px;
    }
    .submit_btn {
        margin-left: 5rem;
    }
    .btn1{
        color: #f52e5d;
        background-color: #f5f5f5;
        width: 80px;
    }
    .card-not-bootstrap{
        padding-top: 0.5rem;
    }

    .cards {
        width: 100%;
        margin-bottom: 3rem;
    }

    .cards_item {
        width: 100% !important;
        margin-bottom: 1rem;
        height: 120px !important;
    }
    
    .card_content p{
        display: none;
    }
    .u-valign-middle img{
        width: 100px;
        height: 100px;
    }
}

